<%- include("partials/header.ejs") %>
    <h1 class="h1_home">Contact Us</h1>
    <p class="post_content">
        <%= contactContent %>
    </p>
    <ul>
        <li>
            <a href="mailto:20uec068@lnmiit.ac.in" class="post_h2">Email</a>
        </li>
        <li>
            <a href="https://linkedin.com/in/keshav950" class="post_h2">Linkedin</a>
        </li>
        <li>
            <a href="https://github.com/alpha951" class="post_h2">Github</a>
        </li>
    </ul>
    <%- include("partials/footer.ejs") %>